@media (max-width: 670px) {
  .footerWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
  }

  .footerTopWrapper {
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .footerMenu {
    flex-direction: column;
  }

  .footerSubMenu {
    padding-left: 0px;
    font-size: 0;
  }

  .footerSubMenu a {
    padding-left: 30px;
    font-size: 14px;
    padding-bottom: 10px;
  }

  .footerSubMenu p {
    font-size: 12px;
    padding-bottom: 10px;
  }

  .footerLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footerLogo img {
    width: 145px;
    height: 29px;
  }

  .footerMailPhone {
    padding-top: 5px;
    column-gap: 17px;
  }

  .footerMail {
    width: 25px;
    height: 20px;
  }

  .footerPhone {
    width: 20px;
    height: 20px;
  }

  .copyright {
    visibility: visible;
    display: flex;
    justify-content: center;
    color: rgba(249, 251, 254, 1);
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 40px;
  }
}
